In [1]:
import kagglehub
import pandas as pd
import numpy as np
import geopandas as gdp

C:\Users\Hp\Desktop\Hanze-Preparatory\Semester_One\Quater_Two\Programming-II\Class_2\Assignment_2\myvenv2\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:


# Download latest version
path = kagglehub.dataset_download("nswitzer/usa-state-shapeflies")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/nswitzer/usa-state-shapeflies?dataset_version_number=870...

100%|█████████████████████████████| 3.15M/3.15M [00:00<00:00, 5.51MB/s]

Extracting files...

Path to dataset files: C:\Users\Hp\.cache\kagglehub\datasets\nswitzer\usa-state-shapeflies\versions\870

In [25]:
depression_df = pd.read_csv("data/Indicators_of_Anxiety_or_Depression.csv")
covid_df = pd.read_csv("data/Post-COVID_Conditions_20241225.csv")
employment = pd.read_excel("data/Unemployment.xlsx")
employment.to_csv("data/socioeconomic.csv",index=None)
socio_status_df = pd.read_csv("data/socioeconomic.csv")
us_shape = gdp.read_file("data/shape/cb_2018_us_state_500k.shp")
#us_shape.head()

In [26]:
socio_status_df.head(2)

,FIPS_Code,State,Area_Name,Rural_Urban_Continuum_Code_2013,Urban_Influence_Code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,...,Civilian_labor_force_2021,Employed_2021,Unemployed_2021,Unemployment_rate_2021,Civilian_labor_force_2022,Employed_2022,Unemployed_2022,Unemployment_rate_2022,Median_Household_Income_2021,Med_HH_Income_Percent_of_State_Total_2021
0,0,US,United States,NaN,NaN,NaN,142601576.0,136904853.0,5696723.0,4.0,...,162229903.0,153544980.0,8684923.0,5.4,164781642.0,158766998.0,6014644.0,3.7,69717.0,NaN
1,1000,AL,Alabama,NaN,NaN,NaN,2147173.0,2047731.0,99442.0,4.6,...,2259349.0,2183330.0,76019.0,3.4,2286028.0,2226670.0,59358.0,2.6,53990.0,100.0

In [27]:
print(socio_status_df.columns)

Index(['FIPS_Code', 'State', 'Area_Name', 'Rural_Urban_Continuum_Code_2013',
       'Urban_Influence_Code_2013', 'Metro_2013', 'Civilian_labor_force_2000',
       'Employed_2000', 'Unemployed_2000', 'Unemployment_rate_2000',
       'Civilian_labor_force_2001', 'Employed_2001', 'Unemployed_2001',
       'Unemployment_rate_2001', 'Civilian_labor_force_2002', 'Employed_2002',
       'Unemployed_2002', 'Unemployment_rate_2002',
       'Civilian_labor_force_2003', 'Employed_2003', 'Unemployed_2003',
       'Unemployment_rate_2003', 'Civilian_labor_force_2004', 'Employed_2004',
       'Unemployed_2004', 'Unemployment_rate_2004',
       'Civilian_labor_force_2005', 'Employed_2005', 'Unemployed_2005',
       'Unemployment_rate_2005', 'Civilian_labor_force_2006', 'Employed_2006',
       'Unemployed_2006', 'Unemployment_rate_2006',
       'Civilian_labor_force_2007', 'Employed_2007', 'Unemployed_2007',
       'Unemployment_rate_2007', 'Civilian_labor_force_2008', 'Employed_2008',
       'Unemployed_2008', 'Unemployment_rate_2008',
       'Civilian_labor_force_2009', 'Employed_2009', 'Unemployed_2009',
       'Unemployment_rate_2009', 'Civilian_labor_force_2010', 'Employed_2010',
       'Unemployed_2010', 'Unemployment_rate_2010',
       'Civilian_labor_force_2011', 'Employed_2011', 'Unemployed_2011',
       'Unemployment_rate_2011', 'Civilian_labor_force_2012', 'Employed_2012',
       'Unemployed_2012', 'Unemployment_rate_2012',
       'Civilian_labor_force_2013', 'Employed_2013', 'Unemployed_2013',
       'Unemployment_rate_2013', 'Civilian_labor_force_2014', 'Employed_2014',
       'Unemployed_2014', 'Unemployment_rate_2014',
       'Civilian_labor_force_2015', 'Employed_2015', 'Unemployed_2015',
       'Unemployment_rate_2015', 'Civilian_labor_force_2016', 'Employed_2016',
       'Unemployed_2016', 'Unemployment_rate_2016',
       'Civilian_labor_force_2017', 'Employed_2017', 'Unemployed_2017',
       'Unemployment_rate_2017', 'Civilian_labor_force_2018', 'Employed_2018',
       'Unemployed_2018', 'Unemployment_rate_2018',
       'Civilian_labor_force_2019', 'Employed_2019', 'Unemployed_2019',
       'Unemployment_rate_2019', 'Civilian_labor_force_2020', 'Employed_2020',
       'Unemployed_2020', 'Unemployment_rate_2020',
       'Civilian_labor_force_2021', 'Employed_2021', 'Unemployed_2021',
       'Unemployment_rate_2021', 'Civilian_labor_force_2022', 'Employed_2022',
       'Unemployed_2022', 'Unemployment_rate_2022',
       'Median_Household_Income_2021',
       'Med_HH_Income_Percent_of_State_Total_2021'],
      dtype='object')

In [29]:
print(socio_status_df["Area_Name"].unique())

['United States' 'Alabama' 'Autauga County, AL' ...
 'Villalba Municipio, PR' 'Yabucoa Municipio, PR' 'Yauco Municipio, PR']

In [30]:
print(us_shape.columns)

Index(['STATEFP', 'STATENS', 'AFFGEOID', 'GEOID', 'STUSPS', 'NAME', 'LSAD',
       'ALAND', 'AWATER', 'geometry'],
      dtype='object')

In [31]:
us_shape.head()

,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,geometry
0,28,01779790,0400000US28,28,MS,Mississippi,00,121533519481,3926919758,"MULTIPOLYGON (((-88.50297 30.21524, -88.49176 ..."
1,37,01027616,0400000US37,37,NC,North Carolina,00,125923656064,13466071395,"MULTIPOLYGON (((-75.72681 35.93584, -75.71827 ..."
2,40,01102857,0400000US40,40,OK,Oklahoma,00,177662925723,3374587997,"POLYGON ((-103.00256 36.52659, -103.00219 36.6..."
3,51,01779803,0400000US51,51,VA,Virginia,00,102257717110,8528531774,"MULTIPOLYGON (((-75.74241 37.80835, -75.74151 ..."
4,54,01779805,0400000US54,54,WV,West Virginia,00,62266474513,489028543,"POLYGON ((-82.6432 38.16909, -82.643 38.16956,..."